@use 'tokens' as *;

:host{
  display: flex;
  justify-content: space-around;
  padding-block: 1rem;
  align-items: center;
  width: 100%;

  a{
    color: $text-secondary;
    text-decoration: none;
  }
}
