<div class="flex gap-4 flex-col">
  <form class="w-full">
    <input
      [formControl]="searchField"
      placeholder="Search"
      class="border-2 w-full border-border rounded-sm focus:outline-none focus:ring-2 focus:ring-focus-ring"
      type="text"
      dashqAutofocus
    />
  </form>
  <div class="flex flex-wrap gap-4 justify-center">
    @for (film of filmList(); track film) {
      <dashq-film-card [film]="film" (cardClicked)="onCardClick($event)" />
    } @empty {
      <div>Nothing found</div>
    }
  </div>
</div>
