@let isInitialLoading = isLoading() && filmList().length === 0;
<div class="flex w-full gap-4 flex-col">
  <form class="w-full flex justify-center py-3">
    <input
      [formControl]="searchControl"
      placeholder="Search"
      class="border-2 w-full max-w-2/3 border-border rounded-sm focus:outline-none focus:ring-2 focus:ring-focus-ring"
      type="text"
      dashqAutofocus
    />
  </form>
  <div [dashqLoader]="isInitialLoading">
    <div class="flex flex-wrap gap-4 justify-center">
      @for (film of filmList(); track film.id) {
        <dashq-film-card [film]="film" (cardClicked)="onCardClick($event)" />
      } @empty {
        <div>Nothing found</div>
      }
    </div>
  </div>
</div>
