@use 'tokens' as *;

:host {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  border: 2px solid $border;
  border-radius: 10px;
  background-color: $bg-surface;
  height: fit-content;

  &:hover {
    box-shadow: $focus-ring;
  }
}

button[data-favorite-icon] {
  font-size: 1.5rem;
  line-height: 1;
}

button[data-favorite-icon]::before {
  content: attr(data-favorite-icon);
}

button.favorite {
  color: $error;
}
